<header class="site-header">
    <nav class="nav">
        <a href="./home" class="logo">
            <h1>TRAINING<span style="color: #ff6200">STUDIO</span></h1>
        </a>

        <ul class="nav-items">
            <li class="nav-item"><a href="/home" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/classes" class="nav-link">Classes</a></li>
            <li class="nav-item"><a href="/schedules" class="nav-link">Schedules</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        </ul>
    </nav>
</header>