<div class="container-fluid">
    <section class="section">
        <div class="title">CHOOSE <span style="color: #ff6200;">PROGRAM</span></div>

        <div class="programs-grid">
            <div class="col">
                <div class="card">
                    <h3>Basic Fitness</h3>
                    <p>Please do not re-distribute this template ZIP file on any template collection website. This is
                        not allowed.</p>
                    <a href="#discover-more">DISCOVER MORE</a>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h3>Advanced Muscle Course</h3>
                    <p>You may want to browse through Digital Marketing or Corporate HTML CSS templates on our
                        website.</p>
                    <a href="#discover-more">DISCOVER MORE</a>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h3>New Gym Training</h3>
                    <p>If you wish to support TemplateMo website via PayPal, please feel free to contact us. We
                        appreciate it a lot.</p>
                    <a href="#discover-more">DISCOVER MORE</a>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h3>Yoga Training</h3>
                    <p>This template is built on Bootstrap v4.3.1 framework. It is easy to adapt the columns and
                        sections.</p>
                    <a href="#discover-more">DISCOVER MORE</a>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h3>Basic Muscle Course</h3>
                    <p>Credit goes to Pexels website for images and video background used in this HTML template.</p>
                    <a href="#discover-more">DISCOVER MORE</a>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h3>Body Building Course</h3>
                    <p>It is important to be aware of the situation and if it is real. I chatted but only at the
                        end. Full price, vehicles and author.</p>
                    <a href="#discover-more">DISCOVER MORE</a>
                </div>
            </div>
        </div>
    </section>

    {{>footer}}
</div>