<div class="container-fluid">
    <section class="section">
        <div class="title">OUR <span style="color: #ff6200;">CLASSES</span></div>

        <div class="classes-grid">
            <div class="col">
                <div class="card">
                    <div class="card-head">
                        <img src="/images/training-images/image-1.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h2>First Training Class</h2>
                        <p>Phasellus convallis mauris sed elementum vulputate. Donec posuere leo sed dui eleifend
                            hendrerit. Sed suscipit suscipit erat, sed vehicula ligula. Aliquam ut sem fermentum sem
                            tincidunt lacinia gravida aliquam nunc. Morbi quis erat imperdiet, molestie nunc ut,
                            accumsan
                            diam.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-head">
                        <img src="/images/training-images/image-2.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h2>Second Training Class</h2>
                        <p>Intrepid protein, it is even fat protein, but the lion's grief and the pillow that the
                            speaker wants. It was basketball before, in the ultricies and ultricies throats. For the
                            land, not the body, but the mass, but the mass. Tomorrow, who is the eros pillow? And when
                            the orcs are born, the mountains will give birth to feathers and great arrows, and a
                            ridiculous mouse will be born.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-head">
                        <img src="/images/training-images/image-3.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h2>Third Training Class</h2>
                        <p>Fusce laoreet rhoncus. Until the ultricies diam tortor, the author does not need to put it.
                            Some quiver, augury, or a cursing gate, if not a wise Tortor vulputate, will trigger that
                            trigger. Nor fear, the pellentesque quiver always or, accumsan a neque.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-head">
                        <img src="/images/training-images/image-4.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h2>Fourth Training Class</h2>
                        <p>Children are living with disease, old age and children, and they are suffering from hunger
                            and poverty. Aenean's element of hatred and time. Even if you are a medical student, you
                            need to be very comfortable.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{>footer}}
</div>