<div class="container-fluid">
    <section class="section">
        <div class="title">CHOOSE <span style="color: #ff6200;">PROGRAM</span></div>

        <form action="#" class="contact-form" method="POST">
            <div class="field">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="Your Name" required>
            </div>
            <div class="field">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="Your Email" required>
            </div>
            <div class="field">
                <label for="subject">Subject</label>
                <input type="text" name="subject" id="subject" placeholder="Subject">
            </div>
            <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" cols="30" rows="5">Message</textarea>
            </div>
            <div class="options">
                <button type="submit" class="btn">Submit</button>
            </div>
        </form>
    </section>

    {{>footer}}
</div>