<div class="big-banner">
    <video autoplay muted loop class="bg-video">
        <source src="/images/gym-video.mp4" type="video/mp4">
    </video>

    <div class="banner-text-center">
        <div class="banner-text-1">WORK HARDER, GET STRONGER</div>
        <div class="banner-text-2">EASY WITH OUR <span style="color: #ff6200;">GYM</span></div>
    </div>
</div>