<div class="container-fluid">
    <section class="section">
        <div class="title">CLASSES <span style="color: #ff6200;">SCHEDULE</span></div>

        <br>

        <ul class="days-list">
            <li class="item">Monday</li>
            <li class="item">Tuesday</li>
            <li class="item">Wednesday</li>
            <li class="item">Thursday</li>
            <li class="item">Friday</li>
        </ul>

        <br>

        <table class="schedule-table">
            <tr>
                <th>Fitness Class</th>
                <td>10:00AM - 11:30AM</td>
                <td></td>
                <td>William G. Stewart</td>
            </tr>
            <tr>
                <th>Muscle Training</th>
                <td></td>
                <td></td>
                <td>William G. Stewart</td>
            </tr>
            <tr>
                <th>Body Building</th>
                <td></td>
                <td>2:00PM - 3:30PM</td>
                <td>William G. Stewart</td>
            </tr>
            <tr>
                <th>Yoga Training Class</th>
                <td></td>
                <td></td>
                <td>William G. Stewart</td>
            </tr>
            <tr>
                <th>Advanced Training</th>
                <td></td>
                <td></td>
                <td>William G. Stewart</td>
            </tr>
        </table>
    </section>

    {{>footer}}
</div>